// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#wib-title { font-family: 'Playfair Display SC', serif; color:black; }
#map { position:relative; top:0; bottom:4; max-width: 100%; min-width: 100%; min-height:350px; }
.ctas { background-color: maroon; }
#frontpage #content { background: #f2f2f2; padding-bottom: 0px; }
#pinboard_linkroll .pin-tag {display: none;}