// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#map { position:relative; top:0; bottom:4; max-width: 100%; min-width: 100%; min-height:350px;}